<style>
    .footer-social-media-links {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
    }
    
    .footer-social-media-links a {
        color: #4b634b;
    }  

</style>

<div class="footer-social-media-links">
    <a href="https://github.com/basedygt" target="_blank" alt="github">
        github
    </a>
</div>