<!DOCTYPE html>
<html lang="en">
<head>
    <title>H3llo world!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% if(name == "Ayush") { %>
        <p>You got that god damn right</p>
    <% } else { %>
        <p>Say my name</p>
    <% } %>
<%- include('partials/footer') %>
</body>
</html>