<!DOCTYPE html>
<html>
<head>
    <title>H3llo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    
<body>
    <h1>
        W3lcome to my site. Enjoy your stay!
    </h1>
    <%- include('partials/footer') %>
</body>
</html>